body {
    background-color: #fafafa;
    min-width: 320px;
}

h1 {
    color: #ff0000;
}

h2 {
    color: #0000ff;
}

h3 {
    color: #808080;
}

p {
    color: #00ff00;
}

.header {
    width: 100%;
    float: left;
    background-color: #ddffdd;
    display: inline-block;
    margin-bottom: 10px;
}

.column_one {
    width: 33%;
    float: left;
    background-color: #ffdddd;
    display: inline-block;
    text-align: left;
}

.column_one_content {
    padding-left: 10px;
}

.column_two {
    margin-left: 1%;
    width: 32%;
    float: left;
    background-color: #ffaaaa;
    display: inline-block;
    text-align: center;
}

.column_three {
    margin-left: 1%;
    width: 33%;
    float: left;
    background-color: #ff8888;
    display: inline-block;
    text-align: right;
}

.column_three_content {
    padding-right: 10px;
}

.footer {
    width: 100%;
    float: left;
    background-color: #ddddff;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .column_one {
        margin-top: 10px;
        width: 100%;
    }

    .column_two {
        margin-top: 10px;
        margin-left: 0%;
        width: 100%;
    }

    .column_three {
        margin-top: 10px;
        margin-left: 0%;
        width: 100%;
    }
}
