body {
    background-color: #f8f8f8;
    min-width: 320px;
    margin: 0px;
    min-width: 100%;
}

h1 {
    color: #ff0000;
}

h2 {
    color: #0000ff;
}

h3 {
    color: #808080;
}

p {
    color: #00ff00;
}

.solo_column p {
    color: #000000;
}

.header {
    width: 100%;
    float: left;
    background-color: #ddffdd;
    display: inline-block;
    min-height: 150px;
}

.content {
    min-height: 600px;
    width: 100%;
    display: inline-block;
}

.categories {
    background-color: #808080;
    width: 200px;
    min-height: 100%;
    display: inline-block;
}

.columns {
    min-height: 500px;
    width: 100%;
    display: inline-block;
}

.solo_column {
    margin-top: 15px;
    width: 1360px;
    margin: auto;
    background-color: #add8e6;
    display: inline-block;
}

.footer {
    width: 100%;
    float: left;
    background-color: #ddddff;
    margin-top: 15px;
    min-height: 150px;
    display: inline-block;
}

.column {
}

.column_one {
    margin-left: 1%;
    width: 32%;
    height: 100%;
    float: left;
    background-color: #ffdddd;
    display: inline-block;
    text-align: left;
}

.column_one_content {
    padding-left: 10px;
}

.column_two {
    margin-left: 1%;
    width: 32%;
    height: 100%;
    float: left;
    background-color: #ffaaaa;
    display: inline-block;
    text-align: center;
}

.column_three {
    margin-left: 1%;
    margin-right: 1%;
    width: 32%;
    height: 100%;
    float: left;
    background-color: #ff8888;
    display: inline-block;
    text-align: right;
}

.column_three_content {
    padding-right: 10px;
}

.links li{
    display: inline;
    padding-right: 20px;
}

@media (max-width: 1400px) {
    .column_one {
        margin-left: 1.5%;
        width: 31.3%;
    }
    .column_two {
        margin-left: 1.5%;
        width: 31.3%;
    }
    .column_three {
        margin-left: 1.5%;
        width: 31.4%;
        margin-right: 1.5%;
    }
    .solo_column {
        width: 980px;
    }
}

@media (max-width: 1024px) {
    .solo_column {
        width: 740px;
    }
}

@media (max-width: 768px) {
    .column_one, .column_two, .column_three, .solo_column {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }

    .column_two, .column_three, .solo_column {
        margin-top: 10px;
    }
}

@media (max-width: 640px) {
    .column_one, .column_two, .column_three, .solo_column {
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
    }
}

@media (max-width: 480px) {
    .column_one, .column_two, .column_three, .solo_column {
        width: 92%;
        margin-left: 4%;
        margin-right: 4%;
    }
}
